:root {
    /* Define color palette */
    --primary-color: #6A0DAD;       /* Deep purple */
    --secondary-color: #8A2BE2;     /* Blue-violet */
    --accent-color: #DDA0DD;        /* Pale plum */
    --soft-lavender: #F1EAFF;    /* Soft lavender background */
    --light-lavender: #F5E6FF;          /* Light lavender for text */
  }
  .yes-button {
      width: 90%; /* Takes 90% of the button container width */
      padding: 15px; /* Padding for the text - makes button larger width and height*/
      border: 2px solid #386642;; /* Blue-violet border */
      background-color: #d6e6d9;
      color: #1a4423;
      font-size: 30px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;
      font-weight: bold;
      margin: 5px; /* Adds a 10px total gap between buttons (5px on each side) */
  }

  .no-button {
    width: 90%; /* Takes 90% of the button container width */
    padding: 15px; /* Padding for the text - makes button larger width and height*/
    border: 2px solid #c82424; 
    background-color: #fed9d9;
    color: #821717;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
    margin: 5px; /* Adds a 10px total gap between buttons (5px on each side) */
}
  
  .yesno-container {
  position: fixed;
  bottom: 205px;
  width: 90%; /* Set width to fit within the 5% left and right margins */
  display: flex;
  z-index: 10; /* Keeps it above other elements */
  }

  
  