.information-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.columns-container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

hr {
    border: none;
    border-top: 1px solid #580d8e;
    margin: 20px 0;
}
